header h1{
   text-align: center;
}


form{
    width: 100%;
    margin-left: 14%;
}

.form-input1 input{
    margin: 10px;
    padding: 5px;
    display: block;
    margin-left: 35%;
}

.form-input2 input{
    margin: 10px;
    padding: 5px;
    display: block;
    margin-left: 35%;

}

.form-input1 label{
    margin-left: 30%;
    float: left;
}


.form-input2 label{
    margin-left: 18.3%;
    float: left;
}

.form-input3 input{
    margin: 10px;
    padding: 5px;
    display: block;
    margin-left: 35%;

}

.form-input3 label{
    margin-left: 23%;
    float: left;
}

.drop-down{
    width: 13.5%;
    margin-left: 25px;
    padding: 5px;
}


.form-input2 input{
    margin: 10px;
    padding: 5px;
    display: block;
    margin-left: 35%;

}

.form-input2 label{
    margin-left: 18.3%;
    float: left;
}

.form-input4 label{
    margin-top: 0.5%;

    float: left;
}

.form-input4 label{
    margin-left: 17.9%;
    float: left;
}

.check-box input{
    padding: 22px;
    margin-top: 1%;
    margin-left: 2.5%;
}

.check-box2 input{
   margin-left: 35%;
   margin-top: 1%;
}

.check-box2 label{
    padding: 5px;
    margin-top: 2%;
}

.check-box label{
    padding: 3.5px;
    margin-top: 1%;
   
}

.form-input5 label{

    float: left;
}

.form-input5 label{
    margin-left: 17.9%;
    float: left;
}

.check-box-1 {
    display: flex;
    flex-direction: column;
}

.check-box-1 label{
    padding: 3.5px;
    margin-top: 5%;
   
}

.form-input6 input{
    margin: 10px;
    margin-top: 10%;
    padding: 5px;
    display: block;
    margin-left: 35%;

}

.form-input6 label{
    margin-left: 18.3%;
    float: left;
}


.button{
    margin-left: 35%;
}